{{ define "header" }}{{ partials.Include "page-header.html" . }}{{ end }}
{{ define "main" }}
    <article class="center cf pv5" style="max-width: 680px; margin: 0 auto;">
      <h1>This is not the page you were looking for.</h1>
      <p style="text-align:center">Maybe try the <a href="/search/">Search feature</a>?</p>
      <p style="text-align:center">
        <a style="text-decoration:none;" href="https://photos.google.com/share/AF1QipPQ7F-RKspV_uMbp0eiua4Kg3nMHtpv-8E1Ba6SKRJMmS3wpSE9y4AhKRLwXAbMEw/photo/AF1QipMbTFH5QfQTVvc8bk-2Bo1OYKQKw6zjWp-JeZ2V?key=X1JoNmtaTThxbnhPVnkzd3lKcHpTS3VFZWdnMTFn" target="_blank"><img alt="Paul and Helen at Franz Josef in New Zealand" title="Paul and Helen at Franz Josef in New Zealand" loading="lazy" src="https://lh3.googleusercontent.com/pw/AP1GczMW_plZHQnsq84C2f_9aUMYl075OKKy3gcTrARQEflKgLanfqZ6TCdQDdsIA96PonxuFWAZCoGuL1O1R9fmPTp4HbNiAidmX-pjHRfXPG3yAaBCqLWSbEC1oDs0Pl0QhKHk8H1M7w8TmZUQJdyIIMZzRg=w640-no" width="640" style="max-width:100%;height:auto;" /></a>
      </p>
    </article>
{{ end }}
